	
		<h5 style="text-align : center;padding-top : 10px">
			For any queries<br>
			Contact <em>mani@gmail.com</em>
		</h5>
		<p style="text-align : center;">
			Copyrights @MKApp	
		</p>
	</body>
</html>