<%- include("../partials/header.ejs") %> 

<h1 class="text-center mt-5">
	Thank you for opting this course
</h1>

<form style="text-align : center">
	<script  src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_GzFeffLF6Q7U6W" async> 
	</script>
</form>