<%- include("partials/header.ejs") %> 
		<h1 style="color:blue;text-align : center";><b>MK COURSE REGISTRATION</b></h1>
		<img class="rounded-circle mx-auto d-block" 
			 src="https://images.unsplash.com/photo-1523050854058-8df90110c9f1? 
				  ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-
				  1.2.1&auto=format&fit=crop&w=750&q=80" alt="ihn" width="300" 	height="300">
		<blockquote  style="font-size : 30px;" class="text-center ">
			<strong><em>
				"COME WITH NOTHING<br>GO WITH KNOWLEDGE"
			</em></strong>
		</blockquote>

	<form action="/courses" method="GET">
		<button class="btn btn-lg btn-info mx-auto d-block">Find courses</button>
	</form>
	
		
<%- include("partials/footer.ejs") %>	